[Unit]
Description = UECS IAAB I Am Alive Beacon
After = rc-local.service

[Service]
ExecStart = /usr/local/bin/iaab.py
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
